.editor-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: calc(100vh - 64px); /* Altura total da tela menos a altura da barra superior */
    margin-top: 64px; /* Altura da barra superior para alinhar corretamente */
    margin-left: 400px; /* Largura da barra lateral */
    padding: 1rem;
  }
  
  .react-quill {
    width: 50%; /* Ocupa metade do espaço restante */
    height: 100%;
  }
  