
.header {
  display: flex;
  padding: 1rem;
  background-color: #0a5700 !important;
  color: white;
}

.header .custom-textfield {
  background-color: #0a5700;
  color: white !important;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}



