/* Estilos para a estrutura da página */
.page-container {
    display: flex;
    height: 100vh; /* Altura total da tela */
  }
  
  /* Estilos para a barra lateral fixa */
  .sidebar {
    position: fixed;
    left: 0;
    top: 10;
    width: 400px; /* Largura fixa da barra lateral */
    height: 100vh; /* Altura total da tela */
    z-index: 2; /* Para garantir que fique sobre outros elementos */
    margin: 0;
    padding: 0
  }
  
  /* Estilos para a área de visualização do arquivo */
  .file_view {
    margin-left: 0px; /* Margem esquerda para empurrar o conteúdo para o lado da barra lateral */
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto; /* Permitir rolagem vertical se necessário */
  }
  