.input_text {
  background-color: rgb(214, 255, 219) !important; /* Fundo branco */
  color: black !important; /* Texto preto */
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  font-family: Helvetica;
}

.input_text .MuiInputBase-input {
  color: black !important; /* Texto preto dentro do input */
}

.MuiFormHelperText-root {
  color: white !important; /* Texto auxiliar branco */
}

  .numero_doc {
    display: flex;
    flex-direction: column; /* Coloca os elementos em uma coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    padding: 20px; /* Adicionar espaçamento ao redor do conteúdo */
    margin-top: 64px;
   
  }
  